@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/*Colors*/
:root {
  --color-primary: #fc5130;
  --color-secondary: #30bced;
  --color-white: #fffaff;
  --color-grey: #303036;
  --color-black: #050401;
}

/* Global Styles  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

button {
  padding: 9px 22px;
  border: none;
  outline: none;
  background: #f9f9f9;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1700px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

/* Hero Styles  */

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--color-grey);
  box-sizing: border-box;
}

.hero:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  clip-path: circle(35% at 100% -20%);
}

.hero:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  clip-path: circle(25% at 0% 100%);
}

/* Nav Styles */

nav {
  display: none;
}

/* Card Styles */

.cardContainer {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  max-width: 21.25rem;
  margin: 1rem 0;
  border-radius: 0.625rem;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  cursor: pointer;
}
.card:hover .cardBg {
  transform: translateY(-80px);
}

.cardBg {
  width: 100%;
  height: 22rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}

.cardBg img {
  position: relative;
  margin: auto;
  width: 80%;
  transition: 0.5s ease-in-out;
}
.card:hover .cardBg img {
  transform: translate(-20px, -30px) rotate(-35deg) scale(1);
}

.cardInfo {
  padding: 14px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardInfo p {
  margin: 0;
  color: var(--color-white);
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
}

/* Shopping Cart */

.shoppingCartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.shoppingCart {
  width: 440px;
  padding: 24px 0;
  height: 642px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 642px;
  overflow: auto;
  border-radius: 0.625rem;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
}

.shoppingCart::-webkit-scrollbar {
  width: 14px;
}

.shoppingCart::-webkit-scrollbar-track {
  border-radius: 10px;
}

.shoppingCart::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.shoppingCart .cardRow {
  width: calc(80% - 14px);
  margin: 0 0 12px 6px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 1px 2px 30px 1px #130506;
  color: var(--color-white);
  cursor: pointer;
}

.shoppingCart .cardRow .cardImg {
  width: 100%;
  height: 240px;
  display: flex;
  position: relative;
}

.shoppingCart .cardRow .cardImg p {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  line-height: 1;
}

.shoppingCart .cardRow .cardImg img {
  margin: auto;
  width: 160px;
  display: block;
  transition: transform 900ms;
}

.shoppingCart .cardRow .cardImg img:hover {
  transform: translate(-20px, -30px) rotate(-35deg) scale(1.4);
}

.shoppingCart .cardRow .cardPrice {
  padding: 14px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shoppingCart .cardRow .cardPrice p {
  margin: 0;
  color: var(--color-white);
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
}

.shoppingCart .cardRow .cardPrice i {
  color: var(--color-white);
  cursor: pointer;
}

.shoppingCartPrice {
  width: 440px;
  height: 100px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.625rem;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
}

.shoppingCartPrice h2 {
  margin: 12px 0 0 0;
  color: var(--color-secondary);
}

.shoppingCartPrice .allCartItems {
  width: 70px;
  height: 70px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.shoppingCartPrice .allCartItems .itemsAmountWrap {
  width: 40px;
  height: 28px;
  display: flex;
  margin-bottom: 3px;
}

.shoppingCartPrice .allCartItems .itemsAmountWrap p {
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-white);
}

/* Media Queries */

@media (max-width: 784px) {
  .cardContainer {
    padding-top: 5rem;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .card {
    max-width: 600px;
  }
}
@media (min-width: 785px) and (max-width: 1176px) {
  .cardContainer {
    padding-top: 5rem;
  }
  .card {
    max-width: 47.6%;
  }
}

@media (max-width: 1645px) {
  .cardContainer {
    padding-top: 5rem;
  }
  .container {
    max-width: 94%;
  }

  nav {
    display: block;
    position: fixed;
    z-index: 10;
    height: 80px;
    width: 100%;
    padding: 20px;
    top: 0;
    left: 0;
    background: var(--color-black);
  }
  nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .container h2 {
    color: var(--color-white);
    letter-spacing: 1.2px;
  }
  nav .container h2 span {
    color: #43ffc2;
  }
  nav .container .menuWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  nav .container .menuWrapper i {
    color: var(--color-white);
  }
  nav .container .menuWrapper p {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 600;
    margin-left: 6px;
  }
  .shoppingCartContainer {
    width: 400px;
    position: fixed;
    top: 0;
    left: -700px;
    min-height: 100vh;
    justify-content: flex-start;
    opacity: 0;
    transition: all 700ms ease-in-out;
  }
  .shoppingCartContainer.hidden {
    left: 0;
    opacity: 1;
  }
  .shoppingCart {
    height: 88vh;
    width: 100%;
    min-height: 88vh;
    border-radius: 0;
  }
  .shoppingCart .cardRow {
    width: calc(100% - 62px);
  }
  .shoppingCartPrice {
    height: 12vh;
    min-height: 12vh;
    width: 400px;
  }
}
